<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <title>StyleHive</title>
    <style>

        body{
            font-family: 'Rubik', sans-serif;
        }

    </style>
</head>
<body layout:fragment="content">

<div th:if="${successProduct}"  id="successAlertProduct"  class=" mt-5 alert alert-success position-absolute end-0 col-7 col-md-4 col-lg-3  col-xl-2 text-center me-4 mt-5"><p th:text="${successProduct}"></p>  </div>
<div th:if="${errorMessage}"  id="successAlertProduct"  class=" mt-5 alert alert-danger position-absolute end-0 col-7 col-md-4 col-lg-3  col-xl-2 text-center me-4 mt-5"><p th:text="${errorMessage}"></p>  </div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3 me-3">
    <button class="btn btn-primary me-md-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add Product</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:object="${product}" th:action="@{/product/add}" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Product name:</label>
                        <input class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" type="text" th:field="*{name}" placeholder="Product name">
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Product gender:</label>
                        <input class="form-control" th:classappend="${#fields.hasErrors('gender') ? 'is-invalid' : ''}" type="text" th:field="*{gender}" placeholder="Product gender">
                        <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="invalid-feedback"></div>
                    </div>
                    <label class="col-form-label">Product category:</label>
                    <select class="form-select" aria-label="Category"  th:field="*{category}">
                        <option th:each="cat : ${categories}" th:value="${cat.getId()}" th:text="${cat.getName()}"></option>
                    </select>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Product size:</label>
                        <input class="form-control" th:classappend="${#fields.hasErrors('size') ? 'is-invalid' : ''}" type="text" th:field="*{size}" placeholder="Product size">
                        <div th:if="${#fields.hasErrors('size')}" th:errors="*{size}" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Product price:</label>
                        <input class="form-control" th:classappend="${#fields.hasErrors('price') ? 'is-invalid' : ''}" type="text" th:field="*{price}" placeholder="Product price">
                        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="invalid-feedback"></div>
                    </div>

                    <div class="input-group mb-3">
                        <label class="col-form-label">Product image</label>
                        <input class="form-control" th:classappend="${#fields.hasErrors('image') ? 'is-invalid' : ''}" type="file" name="file">
                        <div th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="invalid-feedback"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<h3 class="text-center mt-3">List of products</h3>

<div class="container mt-3" th:if="${products.size() == 0}">
    <h3 class="text-center fw-bold">You dont have any product yet.</h3>
</div>

    <div class="container" th:if="${products.size() > 0}">
        <div class="table-responsive">
            <table class="table mt-3 table-bordered  table-light ">
                <thead>
                <tr>
                    <th scope="col" class="text-center">ID Product</th>
                    <th scope="col"  class="text-center">Added by</th>
                    <th scope="col"  class="text-center">Product Name</th>
                    <th scope="col"  class="text-center">Product Gender</th>
                    <th scope="col"  class="text-center">Product Category</th>
                    <th scope="col"  class="text-center">Product Size</th>
                    <th scope="col"  class="text-center">Product Price</th>
                    <th scope="col"  class="text-center">Update</th>
                    <th scope="col"  class="text-center">Delete</th>

                </tr>
                </thead>
                <tbody>
                <tr  th:each="product: ${products}" >
                    <th  class="text-center" scope="row" th:text="${product.getId()}">aa</th>
                    <th  class="text-center" scope="row" th:text="${product.getUser().getFirstname()}">aa</th>
                    <td  class="text-center" th:text="${product.getName()}" ></td>
                    <td  class="text-center" th:text="${product.getGender()}" ></td>
                    <td  class="text-center" th:text="${product.getCategory().getName()}" >aa</td>
                    <th  class="text-center" scope="row" th:text="${product.getSize()}">aa</th>
                    <th  class="text-center" scope="row" th:text="${product.getPrice()} + ' €'"></th>
                    <td class="text-center"><a  data-toggle="tooltip" data-placement="top" title="Update product" th:href="@{/product/edit/{id}(id=${product.getId()})}"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg></a></td>
                    <td  class="text-center"><a data-toggle="tooltip" data-placement="top" title="Delete product" th:href="@{/product/delete/{id}(id=${product.getId()})}"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-circle-fill text-danger" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                    </svg></a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

<script>

    setTimeout(function() {
        let successAlert = document.getElementById('successAlertProduct');
        if (successAlert) {
            successAlert.style.display = 'none';
        }
    }, 2000);
</script>
</body>
</html>