<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <title>StyleHive</title>
    <style>

        body{
            font-family: 'Rubik', sans-serif;
        }

    </style>
</head>
<body layout:fragment="content">

<div class="container mt-5 col-lg-6 col-xl-4 col-sm-7 shadow-lg p-5">
    <div class="row">
        <div class="col">
            <h4>Update product</h4>
            <form th:object="${products}" th:action="@{/edit/product/{id}(id=${products.getId()})}" method="POST" enctype="multipart/form-data">

                <label class="col-form-label">Product name:</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" type="text" th:field="*{name}">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
                <label class="col-form-label">Product gender:</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('gender') ? 'is-invalid' : ''}" type="text" th:field="*{gender}">
                <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="invalid-feedback"></div>
                <label class="col-form-label">Product category:</label>

                <select class="form-select" aria-label="Category"  th:field="*{category}">
                    <option th:each="cat : ${categories}" th:value="${cat.getId()}" th:text="${cat.getName()}"></option>
                </select>

                <label class="col-form-label">Product size:</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('size') ? 'is-invalid' : ''}" type="text" th:field="*{size}">
                <div th:if="${#fields.hasErrors('size')}" th:errors="*{size}" class="invalid-feedback"></div>
                <label class="col-form-label">Product price:</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('price') ? 'is-invalid' : ''}" type="text" th:field="*{price}">
                <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="invalid-feedback"></div>
                <label class="col-form-label">Choose product image:</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('image') ? 'is-invalid' : ''}" type="file" name="file">
                <div th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="invalid-feedback"></div>


                <button type="submit" class="btn btn-primary mt-5 w-100">Update</button>
            </form>
        </div>
    </div>
</div>




<script>
    setTimeout(function() {
        let successAlert = document.getElementById('successAlert');
        if (successAlert) {
            successAlert.style.display = 'none';
        }
    }, 2000);

</script>
</body>
</html>